.barChart{
    flex-grow: 1;
    background-color: white;
    min-width: 260px;
    span.MuiSlider-root{
        width: 200px;
    }
}


g.MuiChartsLegend-root.MuiChartsLegend-row.css-1u0lry5-MuiChartsLegend-root {
    
    font-size: 12px !important;
}

tspan {
    font-size: 12px;
}
